.mobile-block-top-about{
  width: 100%;
  height:auto;
  padding: 20% 0;
  background: url(../../img/bg-about.jpg);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 60px 0 0 0;
  h1{
    margin:0 0 10px 0;
    font-size: 30px;
    color:white;
    font-family: "GothamProBlack";
  }

  p{
    margin:0;
    font-size: 15px;
    color:white;
    font-family: "GothamProRegular";
    font-weight: bold;
  }
}
.mobile-block-history{
  width: 100%;
  height:auto;
  padding: 5% 5%;
  text-align: center;
  background: #c8cbcb;
  h2{
    margin:0 0 10px 0;
    font-size: 30px;
    color:black;
    font-family: "GothamProBlack";
  }
  p{
    margin:0 0 10px 0;
    font-size: 13px;
    color:black;
    font-family: "GothamProRegular";
    text-align: justify;
  }
}

.mobile-block-studia{
  width: 100%;
  height:auto;
  text-align: center;
  background: white;
  overflow: hidden;
  h3{
    margin:10px 0 10px 0;
    font-size: 30px;
    color:black;
    font-family: "GothamProBlack";
  }
  .direction-dizain{
    width: 100%;
    height: auto;
    text-align: left;
    padding: 8% 5%;
    background-image: url(../../img/pattern.png);
    background-color: #f78a49;
    p{
      font-family: "GothamProBlack";
      font-size: 50px;
      padding: 8% 5% 2% 5%;
      color:white;
      display: inline-block;
    }
    span{
      display: inline-block;
      width: 50%;
      padding: 0 0 0 5%;
      color:white;
      font-family: "GothamProRegular";
      font-size: 15px;
    }
  }

  .direction-prod{
    width: 100%;
    height: auto; 
    text-align: left;
    padding: 8% 5%;
    background-image: url(../../img/pattern.png);
    background-color: #3C88C6;
    p{
      font-family: "GothamProBlack";
      font-size: 50px;
      padding: 8% 5% 2% 5%;
      color:white;
      display: inline-block;
    }
    span{
      display: inline-block;
      width: 50%;
      padding: 0 0 0 5%;
      font-size: 15px;
      color:white;
      font-family: "GothamProRegular";
    }
/*p{
  font-st
  }*/
}
}
